<div class="jumbotron">
  <h1 class="display-4">Welcome!</h1>
  <p class="lead">This is a simple application where you can manage your crypto coins.</p>
  <hr class="my-4">
  <p>To start, select:</p>
  <%= render 'menu' %>
</div>